* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed;
}
/* #region common */

.debug header {
    height: 70px; 
    background-color: lightblue; 
}
.debug main {
    height: 600px;    
}
.debug footer {
    height: 400px;
}
/* #region utility */

