* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed;
}

/* #region debug*/

.debug header {
    height: 70px;
}

.debug main {
    height: 1000px;
}

.debug footer {
    height: 400px;
}

/* #region utility */
.bg-lblu {
    background-color: lightblue;
}

.container {
    width: 50%;
    margin: auto;
    background-color: rosybrown;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    width: 25%;
}

.col-2 {
    width: 50%;
}

.container-2 {
    width: 50%;
    margin: auto;
    height: 200px;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

.block {
    height: 150px;
    width: 70%;
    background-color: blueviolet;
}

.bg-blu {
    background-color: blue;
}

.block-2 {
    height: 100px;
    width: 55%;
    background-color: lightblue;
}

.block-3 {
    height: 100px;
    width: 40%;
    background-color: rosybrown;
}

.bg-ltg {
    background-color: lightgrey;
}

.container-3 {
    width: 50%;
    margin: auto;
    height: 200px;
}

.block-4 {
    height: 100px;
    width: 40%;
    background-color: rosybrown;
}

.block-5 {
    height: 100px;
    width: 55%;
    background-color: lightblue;
}

.container-4 {
    width: 50%;
    margin: auto;
    height: 300px;
}

.block-6 {
    height: 150px;
    width: 70%;
    background-color: green;
}

.row-2 {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.block-7 {
    height: 100px;
    width: 55%;
    background-color: salmon;
}

.block-8 {
    height: 100px;
    width: 40%;
    background-color: aqua;
}

.container-5 {
    width: 50%;
    margin: auto;
    height: 200px;
    ;
}

.bg-dkg {
    background-color: rgb(43, 41, 41);
}

.col-3 {
    width: 25%;
    background-color:rosybrown;
}